/* General setup */

@font-face {
    font-family: '3dumbregular';
    src: url('3dumb-webfont.woff2') format('woff2'),
         url('3dumb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alataregular';
    src: url('alata-regular-webfont.woff2') format('woff2'),
         url('alata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: '3dumbregular';
}

h2 {
  font-size: 2.4rem;
  font-family: '3dumbregular';
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: 'alataregular';
}
